# Team Configuration
TEAM_NAME=testproj
TEAM_DESCRIPTION=testproj team

# PM_GUARDIAN Configuration
PM_GUARDIAN_EMAIL=${PREFIX}+testproj-pm_guardian@${DOMAIN}
PM_GUARDIAN_SLACK=@testproj-pm_guardian
PM_GUARDIAN_BOT=testproj_pm_guardian_bot
PM_GUARDIAN_GITHUB=testproj-pm_guardian
PM_GUARDIAN_DISPLAY=Testproj Pm Guardian

# PYTHON_CODER Configuration
PYTHON_CODER_EMAIL=${PREFIX}+testproj-python_coder@${DOMAIN}
PYTHON_CODER_SLACK=@testproj-python_coder
PYTHON_CODER_BOT=testproj_python_coder_bot
PYTHON_CODER_GITHUB=testproj-python_coder
PYTHON_CODER_DISPLAY=Testproj Python Coder
